/* TODO fix import Figtree font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:400&display=swap');
@import url('@/assets/fonts/fonts.css');

.container {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
